@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "vazir-light";
    src: url(../public/assets/fonts/vazir-light.woff2);
  }

  @font-face {
    font-family: "vazir-bold";
    src: url(../public/assets/fonts/vazir-bold.woff2);
  }
  html {
    font-family: "vazir-light";
  }
}
